  body{
        background-image:url(p-shakhmati.jpg);
    }

    .whitechess{
    float:center;
    vertical-align: middle;
    text-align: center;
    border: 1px solid; width: 2em; height: 2em;
    font-size:250%;
    background-color:#FDEBD0;
    cursor:pointer;
    display:table-cell;


    }
    .whitechess:hover{
        filter:brightness(100%);
        background-color:white;
        color:black;
    }
    .blackchess{
    float:center;
    vertical-align: middle;
    text-align: center;
    border: 1px solid; width: 2em; height: 2em;
    font-size:250%;
    background-color:#800000;
    cursor:pointer;
    display:table-cell;



    }
    .blackchess:hover{
        filter:brightness(100%);
        background-color:brown;
        color:white;
    }
    p{
    margin:0;
    }
#content{
margin-left:50px;
}

}